h1
{
    color:white;
    font-size: 70px;
    text-align: center;
    margin-top: 60px;
    border-bottom: 10px solid white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    
}